body {
    margin: 0;
    padding: 0;
}

:root {
    --focus-border: #007fd4;
    --separator-border: #838383;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 5px solid #DDD;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.hover_scale {
    transition: transform 0.3s;
}

.hover_scale:hover {
    transform: scale(1.02);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(141, 141, 141, 0.50);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #adadad;
}

.post_view_paper {
    max-width: fit-content !important;
}

@media (prefers-color-scheme: light) {
    #splashscreen {
        width: fit-content;
        height: fit-content;
        border-radius: 24px;
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    #splashscreen {
        color: white;
        width: fit-content;
        height: fit-content;
        border-radius: 24px;
        background-color: #303030;
    }
}